.logoBrand {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}

.brand {
  font-size: 3rem;
}

.small {
  img {
    height: 3rem;
  }
  h1 {
    font-size: 1rem;
  }
}

.medium {
  img {
    height: 6.5rem;
  }
  h1 {
    font-size: 3rem;
  }
}

.large {
  img {
    height: 9rem;
  }
  h1 {
    font-size: 4rem;
  }
}
